@page "/ordentrabajo/{IdWorkOrder:int}/detalle/"

 @if (InfoVM.IsLoading)
 {
     <div class="d-flex flex-column justify-center align-center py-5">
         <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
         <MudText Class="ms-3">Cargando Información...</MudText>
     </div>
 }
 else if (InfoVM.ErrorMessage != null)
 {
    <MudAlert Severity="MudBlazor.Severity.Error" Class="my-4">
         @InfoVM.ErrorMessage
     </MudAlert>
 }
 else
 {
     <MudGrid Justify="Justify.FlexStart" Spacing="2">
        <MudItem xs="12" lg="9" md="12" sm="12">
             <GeneralInformationWorkOrder InfoWO="@InfoVM.WOInfo"/>
        </MudItem>
        <MudItem xs="12" lg="3" md="12" sm="12">
            <div class="d-flex h-100 w-100">
                <MudPaper Elevation="2" Class="p-3 w-100">
                    <DetailWorkOrderActions InfoWO="@InfoVM.WOInfo" />
                </MudPaper>
            </div>
        </MudItem>

     </MudGrid>
    <MudGrid Justify="Justify.FlexStart" Spacing="2">
       <MudItem xs="12" lg="12">
            <MudPaper Elevation="2" class="mt-3 p-3">
                @if (DetailsVM.ActivityWorkOrderDTOs.Any())
                {
                    <ActivityLog ActivityList="DetailsVM.ActivityWorkOrderDTOs"/>               
                }
                else
                {
                    <MudText Typo="Typo.h5" Align="Align.Center" Class="mt-3 mb-3"><b>No hay registros de actividad para esta orden de trabajo.</b></MudText>
                }
            </MudPaper>
       </MudItem>       
    </MudGrid>
 }

@code {
    [Inject] private GeneralInfoWorkOrderViewModel InfoVM { get; set; }
    [Inject] private LoadDetailsWorkOrderViewModel DetailsVM { get; set; }

    [Parameter] public int IdWorkOrder { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InfoVM.LoadDataWorkOrderById(IdWorkOrder);
        await DetailsVM.LoadActivityLog(IdWorkOrder);
        await Task.Delay(0);
        StateHasChanged();
    }
}
