@page "/"

<PageTitle>Menu Principal</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [Inject] public TextAppBarStateService AppBarState { get; set; }

    protected override void OnInitialized()
    {
        AppBarState.PageTitle = "Menú Principal";
    }
}
