@page "/"
@attribute [Authorize]

<PageTitle>Menu Principal</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [Inject] public TextAppBarStateService AppBarState { get; set; }
    [Inject] public AuthenticationStateProvider AuthenticationState { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppBarState.PageTitle = "Menú Principal";

        var authState = await AuthenticationState.GetAuthenticationStateAsync();
        var user = authState.User;

        // Comprueba si el usuario NO está autenticado
        if (!user.Identity.IsAuthenticated)
        {
            // Redirige a la página de login
            NavigationManager.NavigateTo("/login");
        }
    }
}
