@page "/Account/Logout"
@inject SignInManager<ApplicationUser> SignInManager

<head>
    <title>Cerrar Sesion</title>
    <meta http-equiv="refresh" content="2;url=/">
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center" style="text-align: center; margin-top: 50px;">
        <div class="spinner-border text-success" style="width: 3rem; height: 3rem; color:#198754" role="status">
        </div>
        <span>Cerrando sesión...</span>
        <script>
            setTimeout(function() {
                window.location.href = '/';
            }, 4000);
        </script>
    </div>
</body>

@{
    if (SignInManager.IsSignedIn(User))
    {
        await SignInManager.SignOutAsync();
    }
}

