@page "/ordenesRecientes"
@inject TextAppBarState TextApp

<div class="container-fluid shadow p-3 border rounded">
    <MudText Typo="Typo.h5"><b>Ordenes recientes</b></MudText>
    <MudDivider Class="my-2" Style="border-color: black;" />
    <MudGrid Spacing="3" Justify="Justify.FlexStart" Class="mt-1">
        <MudItem xs="3">
            <OrdenCard NumOrden="603" Finca="San Carlos" Tarea="Aplicación de fertilizantes" />
        </MudItem>
        <MudItem xs="3">
            <OrdenCard NumOrden="604" Finca="Goudge" Tarea="Tratamiento Fitosanitario" />
        </MudItem>
        <MudItem xs="3">
            <OrdenCard NumOrden="605" Finca="Las Aguaditas" Tarea="Aplicación de herbicida" />
        </MudItem>
        <MudItem xs="3">
            <OrdenCard NumOrden="603" Finca="San Carlos" Tarea="Aplicación de fertilizantes" />
        </MudItem>
    </MudGrid>
    <div class="w-100 d-flex flex-column align-items-center mt-4">
        <MudPagination Variant="Variant.Filled" Count="3" />
    </div>
</div>

 
@code {
    protected override void OnInitialized()
    {
        TextApp.PageTitle = "Ordenes de Trabajo";
    }
}
