@page "/createOrder"

<div class="container-fluid shadow mt-3 rounded  p-2">
    <MudGrid Justify="Justify.FlexEnd">
        <MudItem>
            <MudButton Href="/ordenesRecientes"
                       Variant="Variant.Filled"
                       Color="Color.Error"
                       Size="Size.Small"
                       StartIcon="@Icons.Material.Filled.Cancel">Cancelar</MudButton>
        </MudItem>
        <MudItem>
            <MudButton Href="/ordenesRecientes"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Size="Size.Small"
                       StartIcon="@Icons.Material.Filled.Save">Guardar</MudButton>
        </MudItem>
    </MudGrid>
</div>

@code {
    
}