@page "/createOrder"

<NewOrderData OnSectoresSeleccionChanged="ActualizarSectoresSeleccionados" />
<NewListMaterialOrder/>
<div class="container-fluid shadow mt-3 rounded bg-color-white p-2">
    <MudGrid Justify="Justify.FlexEnd">
        <MudItem>
            <MudButton Href="/ordenesRecientes"
                       Variant="Variant.Filled"
                       Color="Color.Error"
                       Size="Size.Small"
                       StartIcon="@Icons.Material.Filled.Cancel">Cancelar</MudButton>
        </MudItem>
        <MudItem>
            <MudButton Href="/ordenesRecientes"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Size="Size.Small"
                       StartIcon="@Icons.Material.Filled.Save">Guardar</MudButton>
        </MudItem>
    </MudGrid>
</div>

<MudText Typo="Typo.caption">Cantidad seleccionada: @SectoresSeleccionados.Count</MudText>

@code {
    private List<SectorDTO> SectoresSeleccionados { get; set; } = new();

    private void ActualizarSectoresSeleccionados(List<SectorDTO> sectores)
    {
        SectoresSeleccionados = sectores;
        StateHasChanged();
    }
}